[Desktop Entry]
Encoding=UTF-8
Name=Sumcash (testnet)
Comment=Desktop allet for Sumcash Cryptocurrency (testnet)
Comment[de]=Offizieller Client für die Kryptowährung Sumcash (testnet)
Exec=sumcash-qt -testnet %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/sumcash-testnet128.png
MimeType=x-scheme-handler/sumcash;
Categories=Application;Network;
