[Desktop Entry]
Encoding=UTF-8
Name=Sumcoin
Comment=Desktop allet for Sumcoin Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Sumcoin
Exec=sumcoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/sumcoin128.png
MimeType=x-scheme-handler/sumcoin;
Categories=Office;Finance;P2P;Network;Qt;
